<!DOCTYPE html>
<html>

  <head>
    <title>
      Reddit Reader
    </title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
  </head>

<body>
  <header>
    <h1><a href="/">Reddit Reader</a></h1>
    <h3>Reading:{{answer_subject_Db}}</h3>
  </header>
  <main>
    {% for subject_content in subreddits_Db %}
    <div>
      <h3><a href="https://reddit.com{{subject_content['url']}}" target="_blank">{{subject_content['title']}}</a></h3>
      <h4>{{subject_content['vote']}} upvotes ·  {{subject_content['subject']}}</h4>
    <hr>
    {%endfor%}
  </div>
  </main>
  
</body>

</html>
